<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cutlink</title>
    <link rel="stylesheet"
          th:href="@{/css/errorPage.css}"
          href="../../static/css/errorPage.css">
</head>
<body>
    <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
    <div th:text="${errorMessage}" class="error_message">
        Произошла ошибка. Неверный url
    </div>
</body>
</html>